<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/about">About</a>
    <a href="/counter">Counter</a>
    <a href="/#">Home</a>
    <a href="#">Contact</a>
  </div>

<div id="main">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
</div>
<h1 id="title">
    Counter
</h1>

<body>
    <p id="value">0</p>
    <div class="parent">
        <button class="btn increase" onclick="increment()">
            +
        </button>
        <button class="btn reset" onclick="reset()">
            RESET
        </button>
        <button class="btn decrease" onclick="decrement()">
            -
        </button>
    </div>
</body>
<script src="../scripts/script.js"></script>

</html>